@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		text-size-adjust: none;
	}

/* Box Part*/

	*, *:before, *:after {

		box-sizing: border-box;
	}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}
/* Animation Part */ 
	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			animation: none !important;
			transition: none !important;
		}

/* Type Part*/

	body {
		background-color: #fff;
		color: #111111;
	}

	body, input, select, textarea {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		transition: color 0.2s ease-in-out;
		text-decoration: none;
        
	}

		a:hover {
			text-decoration:underline;
            text-decoration-color:#9999FF;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1.1em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	code {
		border-radius: 0;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
		color:#9999FF;
	}

	code {
		background: none;
		border-color:#9999FF;
	}

	hr {
		border-bottom-color:#9999FF;
	}

/* Box Part*/

	.box {
		border-radius: 0;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color:#9999FF;
	}


/* Image Part */

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List Part */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}
		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}
        ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

		
/* Section/Article Part */

	section.special, article.special {
		text-align: center;
	}

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {

			section .inner {
				max-width: 90%;
				width: 90%;
			}

		}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

	header p {
		color: #717171;
	}

/* Table  Part*/

	.table-wrapper {
		overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 700;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color:white;
        
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: none;	}

	table th {
		color:#9999FF;
	}

	table thead {
		border-bottom-color:#9999FF;
	}

	table tfoot {
		border-top-color:#9999FF;
	}

	table.alt tbody tr td {
		border-color:#9999FF;
	}


/* Header Part*/

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #02020d;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

			@media screen and (max-width: 480px) {

				#header .inner {
					max-width: 90%;
					width: 90%;
				}

			}


		#header a {
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .85em;
		}

			#header a:hover {
				color: #9999FF;
			}

			#header a:last-child {
				padding-right: 0em;
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

/* Menu Part */

	#nav {
		display: inline-block;
	}

		@media screen and (max-width: 980px) {

			#nav {
				display: none;
			}

		}

	.navPanelToggle {
		position: fixed;
		text-decoration: none;
		height: 4em;
		right: 3em;
		top: .75em;
		width: 4em;
		display: none;
		z-index: 10002;
	}

		.navPanelToggle:before {
			osx-font-smoothing: grayscale;
			font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

		@media screen and (max-width: 980px) {

			.navPanelToggle {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {

			.navPanelToggle {
				right: 1em;
			}}

		.navPanelToggle *:before {
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		transform: translatex(20em);
		transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		overflow-scrolling: touch;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		background: #02020d;
		color: #fff;
		height: 100%;
		max-width: 80%;
		width: 20em;
		padding: 1.5em;
		text-transform: uppercase;
		z-index: 10003;
		display: none;
	}

		#navPanel.visible {
			transform: translatex(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel a:not(.close) {
			border-top: solid 1px rgba(255, 255, 255, 0.1);
			color: #fff;
			font-weight: 700;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;}

			#navPanel a:not(.close):first-child {
				border: none;}

		#navPanel .close {
			text-decoration: none;
			transition: color 0.2s ease-in-out;
			tap-highlight-color: transparent;
			border: 0;
			color: #484848;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 5em;
		}

			#navPanel .close:before {
				osx-font-smoothing: grayscale;
				font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				content: '\f00d';
				width: 3em;
				height: 3em;
				line-height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}#navPanel .close:hover {
				color: inherit;
                
			}@media screen and (max-width: 980px) {

			#navPanel {
				display: block;
			}

		}

/* Banner Part*/

	#banner {
		background-color:#e5474b;
		color: #f2a3a5;
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../images/banner.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
        height: 570px;
        width: 100%;
	}

		#banner input, #banner select, #banner textarea, #banner strong, #banner b, #banner a, #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6  {
			color: #ffffff;
		}

		#banner code {
			background: none;
			border-color: #fff;
		}

		#banner hr {
			border-bottom-color: #fff;
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: #5a5a5a;
			color: #ffffff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: #676767;
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: #4d4d4d;
			}

			#banner input[type="submit"].alt,
			#banner input[type="reset"].alt,
			#banner input[type="button"].alt,
			#banner button.alt,
			#banner .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #ffffff !important;
			}

				#banner input[type="submit"].alt:hover,
				#banner input[type="reset"].alt:hover,
				#banner input[type="button"].alt:hover,
				#banner button.alt:hover,
				#banner .button.alt:hover {
					background: rgba(255, 255, 255, 0.25);
				}

				#banner input[type="submit"].alt:active,
				#banner input[type="reset"].alt:active,
				#banner input[type="button"].alt:active,
				#banner button.alt:active,
				#banner .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}


			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				background-color: #ffffff;
				color:blue !important;
			}

		#banner:after {
			transition: opacity 4s ease;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background-color: #0c0c0c;
			opacity: 0.25;
		}

		#banner .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
			z-index: 10000;
			line-height: 1.5;
		}

			@media screen and (max-width: 480px) {

				#banner .inner {
					max-width: 90%;
					width: 90%;
				}}

		#banner h1 {
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
		}

			#banner h1 span {
				font-weight: 400;}

		body.is-loading #banner:after {
			opacity: 1;}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 10em 0 8em 0;
			}}

		@media screen and (max-width: 1280px) {
			#banner {
				padding: 8em 0 6em 0;}}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 12em 0 10em 0;
			}

				#banner br {
					display: none;
				}	}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 4em 0 2em 0;
			}

				#banner h1 {
					font-size: 1.75em;}}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 5em 0 3em 0;}
            #banner ul {
					margin-top: 1em;}}
/* Main Part */ 
	#main {
		padding: 4em 0 2em 0;}

	#one {
		padding: 6em 0 4em 0;}

		@media screen and (max-width: 980px) {
			#one {
				padding: 4em 0 2em 0;}}
		@media screen and (max-width: 736px) {
			#one {
				padding: 2em 0 0.1em 0;}
        #one {
				padding: 2em 0 0.1em 0;}
        }

	#two {
		padding: 6em 0 4em 0;
		background: #f3f3f3;
		background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
	}
		#two .inner {
			display: flex;;
			flex-direction: row;}

			#two .inner article {
				width: 30%;}
				#two .inner article:first-child {
					padding-right: 6em;}

				#two .inner article:last-child {
					padding-left: 6em;}


		@media screen and (max-width: 980px) {
			#two {
				padding: 4em 0 2em 0;
				background: linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
			}

				#two .inner {
					flex-direction: column;}

					#two .inner article {
						width: 100%;}

						#two .inner article:first-child {
							padding-right: 0;
							padding-bottom: 2em;}

						#two .inner article:last-child {
							padding-left: 0;
							padding-top: 2em;}}

		@media screen and (max-width: 736px) {

			#two {
				padding: 2em 0 0.1em 0;		}}
	#three {
		padding: 6em 0 4em 0;
	}

		#three .inner {
			display: flexbox;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-pack: justify;
		}
			#three .inner article {
				width: 26%;
				display: block;
			}

				#three .inner article p {
					color: #717171;
				}
			@media screen and (max-width: 980px) {

				#three .inner {
					flex-direction: column;
				}
                #three .inner article {
						width: 100%;
						margin: 0 auto;	}
			}
		@media screen and (max-width: 980px) {
			#three {padding: 4em 0 2em 0;
			}}
		@media screen and (max-width: 736px) {
			#three {padding: 2em 0 0.1em 0;}}
/* Footer Part*/ 

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #efefef;
        text-align: center;
                            }

